<button class="font-bold py-1 px-4 min-w-44 rounded bg-gradient-primary text-white"><%= content %></button>
<button class="font-bold py-1 px-4 min-w-44 rounded bg-gradient-secondary text-white"><%= content %></button>
<button class="font-bold py-1 px-4 min-w-44 rounded border-double border-3 border-transparent bg-gradient-outline-secondary bg-origin-border bg-clip-test text-alt-secondary"><%= content %></button>
