  <div class="flex-shrink-0 py-4">
    <a href="#">
      <img
        class="w-10 h-auto"
        src="https://aide.dexem.com/wp-content/uploads/2020/11/x-logo_favicon.png"
        alt="K-UI"
      />
    </a>
  </div>