<% state_color = game.state == "ready" ? "green" : "red" %>
<% state_toggle = game.state == "ready" ? "buzzed" : "ready" %>
<div class="py-24 flex items-center justify-center space-x-8">
  <%= button_to "", game_path(game), method: :patch, params: { game: { state: state_toggle}}, class: "w-36 h-36 bg-#{state_color}-600 rounded-full" %>
</div>

