<div class="flex">
  <button id="tab1" data-tabs-target="btn" data-action="click->tabs#select">Tab1</button>
  <button id="tab2" data-tabs-target="btn" data-action="click->tabs#select">Tab2</button>
  <button id="tab3" data-tabs-target="btn" data-action="click->tabs#select">Tab3</button>
</div>